*{
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}

.content {
    padding-top: 50px;
}
.bt1 {
    /*Set width nên dùng đơn vị % */
    width: 95%;
    margin: auto;
}

.content div{
    display: inline-block;
    height: 100px;
    background-color: cornflowerblue;
    line-height: 100px;
    color: white;
    font-size: 18px;
    width: 20%;
    text-align: center;
}

.title-underline{
    border-bottom: 2px solid gray;
    position: relative;
    left: 50%;
    height: 50px;
    transform: translateX(-50%);

}
.title {
    position: absolute;
    background-color: white;
    width: 550px;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
}
